body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* colors declarations */
:root{
    --primarycolor: #ffffff;
    --secondarycolor:#f7f7f7;
    --tertiarycolor:#5c5d60;
}
#maindoc{
    margin-left: 50px;
}
#navbar{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0px;
    overflow-y: auto;
}


#header{ 
    font-weight: bold;
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
    
}
#navbar p{
    border-top: 1px solid black;
    text-align: center;
}


.nav-link{
    display: flex;
    padding: 10px;
    color: var(--tertiarycolor);
    text-decoration: none;
    align-items: center;
    margin: 5px 0;
}

#main-doc {
    margin-left: 220px;
    padding: 20px;
  }
.main-section {
    margin-bottom: 50px;
  }

.main-section header {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;

}

.main-section p {
    color: var(--tertiarycolor);
    line-height: 1.5;
    margin-bottom: 10px;
}
.main-section ul {
    color: var(--tertiarycolor);
    font-size: 15px;
    margin: 10px 0;
}
ul li {
    list-style-type: disc;
    padding: 10px;
}
#nested{
    list-style-type: circle;
    padding-left: 20px;
}
code {
    background-color: var(--secondarycolor);
    color: var(--tertiarycolor);
    font-size: 12px;
    padding: 15px;
}